header{
    background-image: url(../../images/background.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inner{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
  
.container{
    max-width: 1191px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__logo{
    margin: 0 188px 0 25px;
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 44px 0 40px;
    margin-bottom: 38px;
}
.header__nav-link{
    font-size: 16px;
    line-height: 22;
    text-decoration: none;
    color: #ffff;
}
.header__nav-link:hover{
    color: #b1b1b1;
    -webkit-transition:all .7s;
    transition: all .7s;
    border-bottom: 1px solid #1c1921;
}

.header__nav-link + .header__nav-link{
    margin-left: 35px;
}

.title-gradient{

    text-transform: uppercase;
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 87px;
    background: linear-gradient( to right,#ffffff, #ff460c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    p{
        margin: 0;
        font-size: 25px;
        font-weight: 300;
        text-transform: lowercase;
    }
}
.home__inner{
    display: flex;
   
}
@media (min-height: 661px){
    .header__top{
        margin-bottom: 0;
    }
    .home__inner{
        margin: auto 0;
        padding-bottom: 100px;
    }
}

.home__redirect{
    border: 1px solid transparent;
    border-image: linear-gradient(to right bottom, #09203c, #3b5175, #09203c) 1;
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
    font-weight: 100;
    padding: 11px 33px 11px 24px;
    &::after{
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        left: -15px;
        bottom: 70px;
        background-image: url(../../images/bottom-left.png);
    }
    &::before{
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        right: 226px;
        bottom: 107px;
        background-image: url(../../images/top-right.png);
    }
}

@media(max-height: 700px){
.arrow{
    position: absolute;
    right: -158px;
    bottom: 65px;
}}
@media (min-height: 701px) {
    .arrow{
    display: none;
    }
}
.home__title-go{
    margin-right: 397px;
    margin-top: 39px;
    position: relative;
}
.info__company{
    display: grid;
    width: 346px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.menu__btn{
    display: none;
}
.info__card{
    color: #b6b6b6;
    text-align: center;
    width: 185px;
    height: 185px;
    cursor: pointer;
    &:hover{
        -webkit-transition: all .7s;
        transition: all .7s;
        transition: all .7s;
    }
}
.one{
    box-shadow: 1px 1px 1px 0 rgba(0,0,0, 0.2);
}
.one:hover{
    background: linear-gradient( -215deg, transparent 68% , #585b62 );
}
.two{
    box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.2);
}
.two:hover{
    background: linear-gradient( -140deg, transparent 65% , #565960 );
}
.three{
    box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.2);
}
.three:hover{

    background: linear-gradient( 25deg, transparent 65% , #565960 );
}
.four{
    box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.2);
}
.four:hover{
    background: linear-gradient( -25deg, transparent 65% , #565960 );
}

.one:hover, .two:hover,.three:hover,.four:hover{
    color: #e6e6e6;
}
.info__text{
    font-size: 18px;
    font-weight: 100;
}
.info__text-number{
    font-size: 60px;
    font-weight: 700;
    p{
        margin: 0;
    }
}

@media (max-width: 1300px){
    .home__redirect{
        font-size: 13px;
        &::after{
            left: -16px;
            bottom: -23px;
        }
        &::before{
            right: 169px;
            bottom: 11px;
        }
    }
    .arrow{
        right: -225px;
        bottom: -51px;
    }
    .header__top{
        justify-content: center;
    }
    .header__nav-link{
        font-size: 15px;
    }
    
    .header__nav-link + .header__nav-link{
        margin-left: 25px;
    }

    .home__inner{
        justify-content: space-between;
        align-items: center;
    }
    .title-gradient{
        font-size: 49px;
    }
    .home__title-go{
        margin: 0;
    }
    .info__card{
        width: auto;
        height: auto;
        padding: 10px;
    }
    .info__text{
        font-size: 14px;
    }
    .info__text-number{
        font-size: 46px;
    }
}
@media (max-width: 1200px){
    .arrow{
        display: none;
    }
    .home__title-go{
        position: static;
    }
    .home__redirect{
        &::after{
            left: -3px;
            bottom: 243px;
        }
        &::before{
            left: 172px;
            top: 351px;
        }
    }
}

@media(max-width: 1100px){
    .home__redirect{
       &::after, &::before{
           display: none;
       }
    }
    .header__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header__top{
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    .popup__list{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        right: 20%;
        width: 60%;
        padding: 15px;
        text-align: center;
        -webkit-animation: all .3s ease 0s;
        -moz-animation: all .3s ease 0s;
        -o-animation: all .3s ease 0s;
        transition: all .3s ease 0s;
        animation: menu__animation 500ms ease-in-out;
        &:active{
            top: 0;
        }
        .popup__list-link{
            background-color: rgb(22, 22, 22);
            padding: 15px 0;
            border: 1px solid #fff;
            text-decoration: none;
            color: orange;
        }
    }
    @-webkit-keyframes menu__animation {
        from{
            opacity: 0;
            transform: translateY(2rem);
          }
          to{
        opacity: 1;
        transform: translateY(0rem);
          }
        }
        @-moz-keyframes menu__animation {
            from{
                opacity: 0;
                transform: translateY(2rem);
              }
              to{
            opacity: 1;
            transform: translateY(0rem);
              }
        }
        @-o-keyframes menu__animation {
            from{
                opacity: 0;
                transform: translateY(2rem);
              }
              to{
            opacity: 1;
            transform: translateY(0rem);
              }
        }
    @keyframes menu__animation{
        from{
          opacity: 0;
          transform: translateY(2rem);
        }
        to{
      opacity: 1;
      transform: translateY(0rem);
        }
      }
    .menu__list{
        display: none;
    }

    .header__logo{
        margin: 0;
    }
    .home__inner{
        display: flex;
        flex-direction: column;
        text-align: center;  
    }
    .title-gradient{
        font-size: 45px;
    p{
        font-size: 20px;
        }
    }
    .info__card{
        padding: 0;
    }
    .info__text{
        font-size: 13px;
    }
    .info__text-number{
        font-size: 40px;
    }
    .info__company{
        width: max-content;
        margin-top: 100px;
        display:flex;
        align-items: center;
        gap: 0 50px;
    }
    .menu__btn{
        display: inline-block;
        width: 40px;
        border: none;
        background-color: transparent;
        padding: 12px 0;
        cursor: pointer;
        position: relative;
        &::after,&::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            background-color: orange;
        }
        &::after{
            bottom: 0;
        }
        &::before{
            top: 0;
        }
        span{
        display: block;
        height: 2px;
        background-color: orange;
        }
    }
    .one, .two, .three, .four{
        box-shadow: none;
        &:hover{
           background: transparent;
        }
    }
}

@media(max-width: 800px){
    .header__inner{
        display: flex;
        justify-content: space-evenly;
    }
   .info__company{
       display: grid;
      
   } 
   .info__text{ 
    color: rgb(236, 236, 220);;
    font-weight: 300;
   }
   .info__text-number{
    font-size: 33px;
    color: rgb(122, 122, 56);
}
}

@media (max-width: 550px){
    .title-gradient{
        font-size: 35px;
    p{
        font-size: 17px;
        }
    }
    .home__redirect{
        font-size: 12px;
    }
    .info__text{ 
       font-size: 12px;
       }
       .info__text-number{
        font-size: 30px;
    }
}

@media (max-width: 350px){
    .title-gradient{
        font-size: 30px;
    p{
        font-size: 15px;
        }
    }
    .header__logo-img{
        width: 200px;
    }
    .home__redirect{
        font-size: 11px;
    }
    .menu__btn{
        width: 25px;
        padding: 8px 0;
        &::after,&::before{
            height: 1px;
        }
        span{
        height: 1px;
        }
    }
}