*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'MuseoSansCyrl';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

li{
  list-style: none;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: local('MuseoSansCyrl'),
       url('../public/fonts/MuseoSansCyrl-100.ttf') format('truetype'),
       url('../public/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/MuseoSansCyrl-100.woff') format('woff'); 
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSansCyrl';
  src: local('MuseoSansCyrl'),
       url('../public/fonts/MuseoSansCyrl-300.ttf') format('truetype'),
       url('../public/fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/MuseoSansCyrl-300.woff') format('woff'); 
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSansCyrl';
  src: local('MuseoSansCyrl'),
       url('../public/fonts/MuseoSansCyrl-700.ttf') format('truetype'),
       url('../public/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/MuseoSansCyrl-700.woff') format('woff'); 
  font-weight: 700;
  font-style: normal;
}

